.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #46b8da;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  margin-top: 10px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
  font-family: 'Raleway', sans-serif;
  background: #46b8da;
}

.well{
  width: 50%;
  margin: 12% auto auto auto;
}

@media screen and (max-width: 699px) {
  .well{
    width:100%;
    margin: 50% auto auto auto;
  }
}